    <footer class="nav navbar-fixed-bottom">
      <div class="col-sm-6 col-sm-offset-3">&copy; 2016-2017 Mark Chipp</div>
      <div id="social">
        <a href="https://www.github.com/therealmarkchipp" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i><a/>
        <a href="https://www.linkedin.com/in/markchipp" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i><a/>
        <a href="https://twitter.com/MarkChipp" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i><a/>
      </div>
    </footer>
  </body>
</html>
