<%- include partials/header.ejs %>
  <div id="container">
    <h1>
      <%= title %>
    </h1>
    <img class="headshot" src="/images/headshot.jpg" width="256px" height="256px" alt="Portrait of Mark Chipp" />
    <section id="textbox">
      <h2>Introduction</h2>
      <p>
        I find writing about myself is always a challenge. I’m not a particularly introspective person, and the problem is compounded
        by my transitional nature. I take life as it comes, so I tend to learn and grow in several directions. Basically,
        every time I look inside, I find something that wasn’t there before. That said, I think writing about onesself is
        an excellent exercise and a great way to become more familiar with the person inside.
      </p>

      <h2>Biography</h2>
      <p>I was born in Halifax, but I was raised in Halifax, Winnipeg, and finally Toronto. Now I live in Barrie, Ontario. I
        think this exposure to some of Canada’s key cultural centres was a great way to grow up. Halifax taught me to be
        a considerate person. Winnipeg taught me to take life at a comfortable pace. Toronto taught me how to deal with “those
        people”. You know, the ones you simply need to tolerate because there is no other way to get along. Overall it rounded
        me out quite nicely, and I can function in just about any situation with a wide array of personalities in the room.
      </p>
      <p>
        Today I’m considered a mature student. This title is assigned to anybody over the age of 19, attending college, who has been
        out of high school for a year (or so). But it feels more applicable to me because I’m 33, I’ve been out of high school
        for a very long time, and this is my second shot at college. I have worked in, and studied the field of Psychology
        and Social Work. I have most of the credits neccessary for an accounting diploma, but I find the work too boring
        to pursue. Now I’m on the cusp of graduating as a Dean’s List student in the rather generic field of Computer Programming.
        This is my gateway to Information Security, the field that finally ignited my passion to learn.
      </p>
      <h2>Interests</h2>
      <p>My interests have varied over the years (I covered my transitional nature in the introduction), but I’ve always fallen
        back on a few core loves. Running and cycling are both my favourite forms of fitness and stress relief. I can listen
        to music almost all day long, and thoroughly enjoy a broad range of genres. I enjoy playing music as well, and have
        had varying degrees of exposure to vocal, piano, string and brass instruments. Singing is by far my favourite musical
        medium, but it’s closely followed by the guitar, which I am slowly (but surely) teaching myself in my spare moments.
      </p>
      <p>
        Technology is and always will be one of my all time favourite topics. I was building my own computers by the time I was 13.
        I’m reasonably sure I was the only kid in my class that had three workstations (Windows 98, 2000, and Linux CLI)
        tied into a closed network in my bedroom. I had one system specifically configured for playing DOS based RPGs from
        the 80s/90s because that was my primary form of entertainment. All of this eventually morphed into a love of computers
        and the drive to learn how to network and program them, which naturally seems to have pushed me towards InfoSec.
        That is the next chapter of my life, and one I hope will fill many years.
      </p>
    </section>
  </div>
  <%- include partials/footer.ejs %>