<%- include partials/header.ejs %>
  <div id="container">
    <h1><%= title %></h1>
    <section id="textbox">
        <p>Hello,</p>
        <p>I'm glad you stopped by. My name is Mark, and if you're wondering, I'm a second year COPR student with a keen interest in InfoSec. Physically I live in south-central Ontario, in a (relatively) small city called Barrie, about an hour north of Toronto. This site began as a portfolio as part of my web programming course, but it is morphing into a place for my personal studies to merge.</p>
    </section>
    <!--<section id="twitter-box">
      <a class="twitter-timeline" data-lang="en" data-width="220" data-height="250" href="https://twitter.com/MarkChipp">Tweets by MarkChipp</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>-->
  </div>
<%- include partials/footer.ejs %>
